/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #222;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
  }
  
  section {
    padding: 2em;
  }
  

  

  .contenedor-imagen {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;           /* Ajusta la altura según lo necesites */
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 1.5em 2em;
    flex-wrap: wrap;
  }
  
  .footer div {
    flex: 1;
    min-width: 200px;
    text-align: center;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-center {
    text-align: center;
  }
  
  .footer-right {
    text-align: right;
  }
  
  .footer p {
    margin: 0.3em 0;
  }